<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--Prod-->
    <!--<add name="CKdbContext" connectionString="data source=10.70.1.53;initial catalog=ITHoTram_CustomReport;user id=CasinoKiosk.User;password=P@ssword1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=10.70.1.53;initial catalog=ITHoTram_CustomReport;user id=casinokiosk.user;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ITHoTram_CustomReportEntities" connectionString="metadata=res://*/EF.Model1.csdl|res://*/EF.Model1.ssdl|res://*/EF.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.70.1.53;initial catalog=ITHoTram_CustomReport;user id=casinokiosk.user;password=P@ssword1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Test-->
    <add name="CKdbContext" connectionString="data source=.;initial catalog=ITHoTram_CustomReport;user id=CasinoKiosk.User;password=P@ssword1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=.;initial catalog=ITHoTram_CustomReport;user id=casinokiosk.user;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ITHoTram_CustomReportEntities" connectionString="metadata=res://*/EF.Model1.csdl|res://*/EF.Model1.ssdl|res://*/EF.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.70.1.53;initial catalog=ITHoTram_CustomReport;user id=casinokiosk.user;password=P@ssword1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RA_SecurityEntities" connectionString="metadata=res://*/EF.RASecurityModel.csdl|res://*/EF.RASecurityModel.ssdl|res://*/EF.RASecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.21.1.31;initial catalog=RA_Security;persist security info=True;user id=casinokiosk.user;password=P@ssword1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>